body {
  font-family: 'Dosis', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5; /* Couleur de fond */
}

#BV {
  order: -1;
}

#logo {
  order: -1;
}

#BV1 {
  font-weight: bold;
  padding: 2vw;
  font-size: xx-large;
}

#nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between; /* Alignement égal des éléments */
}

.nav {
  padding-right: 8vw;
}

.active {
  font-weight: bold;
}
.lien {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#banniere {
  width: 100%;
  height: auto;
  max-width: 100%;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  /* Adjust the image size for smaller screens */
  #banniere {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  #nav {
    margin-top: 2vh;
  }
}

#main-image {
  width: 100%;
  height: 500px;
  background-image: url('https://primary.jwwb.nl/unsplash/VfUN94cUy4o.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -200px; /* Ajuster la valeur "50px" selon vos besoins */
}

main {
  padding: 2vw;
}

h1 {
  text-align: center;
}

.product {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

.product img {
  max-width: 100px;
  margin-right: 10px;
}

.product h2 {
  margin-top: 0;
}

.product p {
  margin: 5px 0;
}

.product-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.product-button:hover {
  background-color: #45a049;
}

#empty-button,
#pay-button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 16px;
}

#empty-button {
  background-color: #f44336;
}

#pay-button {
  background-color: #4CAF50;
  color: white;
}

#empty-button:hover,
#pay-button:hover {
  opacity: 0.8;
}

